.correo{
  // width: 50%;
  background: $grisclaro;
  th,
  td{
    padding: .5em .5em .5em 0;
    text-align: left;
  }
  a{
    color: #472C78;
    font-weight: 700;
    &:hover{
      color: $grisoscuro;
    }
  }
  &__web{
    text-align: center;
    font-weight: 300;
    font-size: .8em;
    background: white;
  }
  &__header{
    background: #472C78;
    width: 100%;
    &--contenedor{
      @extend %flexwrap;
      justify-content: left;
      min-height: 120px;
      color: white;
      margin: 0 auto;
        @include respond-to('small') {
          justify-content: center;
        }
    }
    &--figure {
      margin: 0 1em;
        & img{
        width: 120px;
      }
    }
    &--titulo {
      margin: 0 1em;
      text-align: center;
      min-height: 120px;
      line-height: 120px;
      font-weight: 700;
      font-size: 2em;
    }
  }
  &__body{
    padding: 1em 3em;
    background: white;
    width: 80%;
    margin: 70px auto 0 auto;
    @include respond-to('small') {
          text-align: center;
          padding: 1em;
        }
    &--contenedor{
      @extend %flexwrap;
    }
    &--figure,
    &--mensaje{
      max-width: 400px;
      @include respond-to('xsmall') {
          width: 100%;
        }
    }
    &--img{
      width: 300px;
      @include respond-to('xsmall') {
          display: none;
        }
    }
    &--titulo,
    &--titulo2{
      padding: 1em 0;
    }
  }
  &__descarga{
    margin: 2em auto 0 auto;
    max-width: 300px;
    text-align: center;
    &--titulo{
      margin: 1em auto;
    }
    &--imagen{
      width: 120px;
    }
  }
  &__footer{
    min-height: 70px;
    width: 60%;
    margin: 0 auto;
    padding: 0 1em;
    @extend %flexwrap;
    &--copy{
      line-height: 85px;
    }
    &--redes{
      line-height: 70px;
      margin-top: 15px;
      & i{
        margin-left: .3em;
        font-size: 1.7em;
      }
    }
    & .taima{
      @extend %taima;
    }
  }
}