.correo{
  // width: 50%;
  th,
  td{
    padding: .5em .5em .5em 0;
    text-align: left;
  }
  a{
    color: #472C78;
    font-weight: 700;
    &:hover{
      color: $grisoscuro;
    }
  }
  &__header{
    background: #472C78;
    width: 100%;
    min-height: 120px;
    &--contenedor{
      @extend %flexwrap;
      justify-content: left;
      color: white;
      margin: 0 auto;
        @include respond-to('small') {
          justify-content: center;
        }
    }
    &--figure {
      margin: 0 1em 0 2em;
        & img{
        width: 120px;
      }
    }
    &--titulo {
      margin: 0 0 0 1em;
      text-align: center;
      height: 120px;
      line-height: 120px;
      font-weight: 700;
      font-size: 2em;
    }
  }
  &__body{
    padding: 1em 3em;
    &--titulo,
    &--titulo2{
      padding: 1em 0;
      @include respond-to('small') {
          text-align: center;
        }
    }
  }
  &__descarga{
    margin: 0 auto;
    width: 120px;
    &--titulo{
      margin: 2em auto 1em auto;
    }
    &--imagen{
      width: 120px;
    }
  }
  &__footer{
    max-height: 70px;
    width: 60%;
    margin: 0 auto;
    padding: 0 1em;
    @extend %flexwrap;
    &--redes,
    &--copy{
      line-height: 70px;
      & i{
        font-size: 1.3em;
        margin-left: .3em;
        
      }
    }
    &--redes{
      margin-left: 2em;
    }
    & .taima{
      @extend %taima;
    }
  }
}