.header{
  &__button{
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: $grisoscuro;
      color: grey;
      border: none;
      position: fixed;
      z-index: 3;
      right: 1em;
      top: 1em;
      outline: 0;
      display: none;
      &:hover{
        @include respond-to('medium') {
          background: grey;
          color: $grisoscuro;
        } 
      }
    }
      .is-active
      {
        display: block;
      }
}

.menu{
  background: $grisoscuro;
  position: fixed;
  text-align: center;
  height: 4em;
  left: 0;
  right: 0;
  width: 100vw;
  top: 0;
  z-index: 3;
  @include respond-to('medium') {
    height: auto;
    left: -200px;
    width: 250px;
    transition: .3s;
  }
  &.is-active{
    @include respond-to('medium') {
      left: -10px;
    }
  }
  &__lista{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 7em;
    display: inline-block;
    .empresa{
      background: grey;
    }
    &--item{
      display: inline-block;
      @include respond-to('medium') {
        display: block;
        background: $grisoscuro;
        color: grey;
      }
      &-productos{
        display: none;
        @include respond-to('medium') {
          display: block;
        }
      }
      &-hide{
        @include respond-to('medium') {
          display: none;
        }
      }
    }
    &--link{
      color: white;
      line-height: 4em;
      display: inline-block;
      padding: 0 2em;
      &:hover{
        color: $grisoscuro;
      }      
    }
    &--item:hover{
      background: $grisclaro;
    }    
  }
  &__figure{
    display: inline-block;
    position: absolute;
    left: 4em;
    top: .75em;
    &--marca{
      color: $grisclaro;
      display: inline-block;
      margin-left: .5em;
      font-size: 1.2em;
    }
    &--flag{
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 40px;
      @include respond-to('medium') {
        display: none;
      }
    }
  }
  
}