a{
  text-decoration: none;
  color: white;
}
#ofrecemos,
#clientes,
#productos,
#servicios{  
  position: relative;
  top: -50px;
  @include respond-to('medium') {
    position: relative;
    top: 0px;
  }
}

.u-titulo{
  padding: 1em;
  text-align: center;
  font-weight: 700;
  font-size: 1.8em;
  @include respond-to('medium') {
    font-size: 1.8em;
  }
}

input[type=submit], 
input[type=button] {
  @include respond-to('small') {
    font-size: 1em;
  }
}

