.productos{
  @extend %container;
  &__contenedor{
    @extend %flexwrap;
    max-width: 1000px;
    min-height: 472px;
    margin: 0 auto;
    padding: 0;
  }
  &__item{
    background: grey;
    width: 300px;
    height: 100%;
    min-height: 500px;
    text-align: center;
    padding: 2em .25em 1em .25em;
    margin: .15em 0;
    &--informacion{
      padding: 0.5em 1em;
    }
  }
  &__item:hover{
    background: $grisoscuro;
    color: $grisclaro;
  }
  &__productos{
    background: white;
  }
  &__basicos,
  &__respuestas,
  &__seriados{
    background: white;
    & p{
      text-align: justify;
    }
    & article{
      height: 100%;
      min-height: 670px;
    }
  }
  &__respuestas article{
      height: 100%;
      min-height: 670px;
    }
  &__seriados{
    background: $grisclaro;
  }
  &__boton{
    min-width: (100%/3);
    margin-left: (100%/3);
    margin-top: .5em;
  }
}