$grisclaro: #aeaeae;
$grisoscuro: #1e1e1e;
$taima: #472C78;
%taima{
  color: #472C78;
  font-weight: 700;
}
%flexwrap{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: stretch;
}
%container{
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  background: $grisclaro;
}
%container-50{
  width: 50%;
}
%titulo{
  padding: 1em;
  text-align: center;
  font-weight: 700;
  font-size: 1.8em;
}