.correo{
  // width: 50%;
  background: $grisclaro;
  th,
  td{
    padding: .5em .5em .5em 0;
    text-align: left;
  }
  a{
    color: #472C78;
    font-weight: 700;
    &:hover{
      color: $grisoscuro;
    }
  }
  &__web{
    text-align: center;
    font-weight: 300;
    font-size: .8em;
    background: white;
  }
  &__header{
    background: #472C78;
    width: 100%;
    &--contenedor{
      @extend %flexwrap;
      justify-content: left;
      min-height: 90px;
      color: white;
      margin: 0 auto;
        @include respond-to('small') {
          justify-content: center;
        }
    }
    &--figure {
      margin: 0 0 0 1em;
        & img{
        width: 90px;
      }
    }
    &--titulo {
      margin: 0 1em;
      text-align: center;
      min-height: 90px;
      line-height: 90px;
      font-weight: 700;
      font-size: 2em;
      &-brand{
        margin: 0.75em 1em 0 0;
        font-size: 1.5em;
      }
    }
  }
  &__body{
    padding: 1em 3em;
    background: white;
    width: 80%;
    margin: 70px auto 0 auto;
    text-align: center;
    @include respond-to('small') {
          padding: 1em;
        }
    &--contenedor{
      @extend %flexwrap;
    }
    &--figure,
    &--mensaje{
      max-width: 400px;
      @include respond-to('xsmall') {
        width: 100%;
      }
    }
    // &--figure{
    //   @include respond-to('small') {
    //     display: none;
    //   }
    // }
    &--hiden{
      display: none;
    //   @include respond-to('small') {
    //     display: block;
    //   }
    }
    &--img{
      width: 300px;
      display: block;
      max-width: 100%;
      height: auto;
      margin-top: 40%;
      @include respond-to('tablet') {
          margin-top: 0;
        }
      @include respond-to('small') {
          width: 150px;
        }
      &-clave{
        width: 400px;
        @include respond-to('medium') {
          width: 300px;
        }
      }
    }
    &--titulo,
    &--titulo2{
      padding: 1em 0;
      text-align: center;
      @include respond-to('small') {
          font-size: 1.5em;
        }
    }
    &--texto{
      text-align: justify;
      @include respond-to('medium') {
          text-align: center;
        }
    }
    &--boton{
      background: #472C78;
      color: white;
      margin-left: 0;
      @include respond-to('small') {
        font-size: 1em;
      }
    }
    &--link{
      margin: 0;
    }
  }
  &__descarga{
    margin: 2em auto 0 auto;
    max-width: 300px;
    text-align: center;
    &--titulo{
      margin: 1em auto;
    }
    &--imagen{
      width: 120px;
    }
  }
  &__footer{
    min-height: 50px;
    width: 60%;
    margin: 0 auto;
    padding: 0 1em;
    @extend %flexwrap;
    &--copy{
      line-height: 50px;
      padding-top: 10px;
    }
    &--redes{
      line-height: 50px;
      padding-top: 15px;
      @include respond-to('xsmall') {
          padding-top: 0;
        }
      & i{
        margin-left: .3em;
        font-size: 25px;
      }
    }
    & .taima{
      @extend %taima;
    }
  }
}