@charset "UTF-8";
@import "../lib/normalize.css";

body,
figure,
img{
  margin: 0;
  padding: 0;
}
.u-containerDefault{
  max-width: 800px;
  margin: 0 auto;
}
.menu{
  background: #1e1e1e;
  text-align: center;
  height: 4em;
  left: 0;
  right: 0;
  width: 100vw;
  top: 0;
  z-index: 3;
  &__figure{
    display: inline-block;
    position: absolute;
    left: 4em;
    top: .75em;
  }
  &__lista{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 4em;
    display: inline-block;
    .empresa{
      background: grey;
    }
    &--item{
      display: inline-block;
    }
    &--link{
      color: white;
      text-decoration: none;
      line-height: 4em;
      display: inline-block;
      margin-left: 1em;
    }
    &--link:hover{
      background: #aeaeae;
    }
  }
}

.informacion{
  background: #AEAEAE;
  width: 100%;
  height: 580px;
  &__contenedor{
    display: flex;
    flex-flow: flex-wrap;
    justify-content: space-around;
    align-items: center;
    height: 98%;
  }
  &__figure{
  }
  &__resumen{
    width: 45%;
    text-align: justify;
  }
  &__boton{
    width: 80%;
    height: 3em;
    margin: 0 2em;
    font-weight: bold;
    font-size: 1.2em;
  }
}
