@charset "UTF-8";
@import "../lib/normalize.css";
@import "../fonts/fonts.css";

body,
figure,
footer,
section,
h2,
span,
img{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}

.u-containerDefault{
  width: 100%;
  min-height: 527px;
}
.u-titulo{
  padding: 1em 0;
  text-align: center;
}

.header{
  &__button{
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #1e1e1e;
      color: grey;
      border: none;
      position: fixed;
      z-index: 3;
      right: 1em;
      top: 1em;
      outline: 0;
      display: none;
    }
      .is-active
      {
        display: block;
      }
}

.menu{
  background: #1e1e1e;
  position: fixed;
  text-align: center;
  height: 4em;
  left: 0;
  right: 0;
  width: 100vw;
  top: 0;
  z-index: 3;
  &__figure{
    display: inline-block;
    position: absolute;
    left: 4em;
    top: .75em;
  }
  &__lista{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 4em;
    display: inline-block;
    .empresa{
      background: grey;
    }
    &--item{
      display: inline-block;
    }
    &--link{
      color: white;
      line-height: 4em;
      display: inline-block;
      padding: 0 2em;
      &:hover{
        color: #1e1e1e;
      }
    }
    &--item:hover{
      background: #aeaeae;
    }
  }
}

.informacion{
  width: 100%;
  background: #AEAEAE;
  padding-top: 70px;
  padding-bottom: 10px;
  &__contenedor{
    max-width: 800px;
    min-height: 580px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  &__figure--img-300{
    display: none;
  }
  &__figure--img-250{
    display: none;
  }
  &__resumen{
    width: 45%;
    text-align: justify;
  }
  &__boton{
    width: 100%;
    height: 3em;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2em;
  }
  &__boton:hover{
    background: #1e1e1e;
    color: #aeaeae;
  }
}
.servicios{
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  &__contenedor{
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
  }
  &__item{
    background: grey;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 0;
    margin: .15em 1em;
    &--figure{
      padding-top: 1.5em;
    }
    &--figure:hover{
      background: #1e1e1e;
      color: #aeaeae;
    }
    &--titulo{
      margin: 0;
      padding: 0;
    }
  }
}
.productos{
  background: #AEAEAE;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  &__contenedor{
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
  }
  &__item{
    background: grey;
    width: 300px;
    height: 100%;
    text-align: center;
    padding: 2em .25em 1em .25em;
    margin: .15em 0;
    &--titulo{
      font-size: 2.5em;
    }
  }
  &__item:hover{
    background: #1e1e1e;
    color: #aeaeae;
  }
}

.footer{
  width: 100%;
  padding-bottom: 0;
  font-size: .85em;
  background: #1e1e1e;
  color: #aeaeae;
  a{
    color: #aeaeae;
  }
  a:hover{
    color: grey;
  }
  &__contenedor{
    max-width: 1100px;
    min-height: 230px;
    margin: 0 auto;
    padding-top: 2em;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    &--form{
      height: 230px;
      width: 225px;
      padding-left: 2em;
    }
    &--redes{
      margin: 0;
      padding: 0;
    }
  }
  &__figure{
    margin: 1em 1em 0 0;
    font-size: 2em;
  }
  &__contacto{

    &--titulo{
      font-size: 1.25em;
      font-weight: 700;
      margin-bottom: 1em;
    }
    &--form,
    &--nombre,
    &--telefono,
    &--email,
    &--mensaje{
      display: block;
      width: 14em;
      height: 1.5em;
      line-height: 1.5em;
      margin-top: .5em;
    }
    &--mensaje{
      resize: none;
    }
    &--boton{
      display: block;
      width: 50%;
      height: 2em;
      line-height: 2em;
      margin: .5em 25%;
      font-weight: bold;
      font-size: 1.2em;
    }
    &--boton:hover{
      background: #1e1e1e;
      color: #aeaeae;
    }
    
    &--nav{
      width: 60%;
      margin: 0 auto;
      text-align: center;
      min-width: 40px;
    }
    &--nav ul{
      margin: 0 auto;
      padding: 0;
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      background: #1e1e1e;
    }
    &--item{
      display: inline-block;
      text-decoration: none;
    }
    &--legal{
      height: 1.5em;
    }
    &--link{
      display: inline-block;
      line-height: 1.5em;
      margin: 0;
      padding: 0 0.5em;
    }
    &--redes{
      display: flex;
      flex-flow: wrap;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
    }
    &--icon{
        color: #aeaeae;
        text-decoration: none;
        display: inline-block;
        font-size: 2em;
        margin: 1em .6em 0 0;
    }
    &--icon:hover{
      color: grey;
    }
  }
}
@media screen and (max-width: 902px){
  .footer__contacto--legal{
      min-height: 40px;
      background: #1e1e1e;
  }
}

@media screen and (max-width: 768px){
  .menu{
    height: auto;
    left: -200px;
    width: 250px;
    transition: .3s;
    &__lista--item
    {
      display: block;
      background: #1e1e1e;
      color: grey;
    }
    &.is-active
    {
      left: -10px;
    }
  }
  .header__button:hover{
    background: grey;
    color: #1e1e1e;
  }
  .informacion__figure--img{
    display: none;
  }
  .informacion__figure--img-300{
    display: block;
  }  
}
@media screen and (max-width: 480px){
  .informacion__figure--img-300{
    display: none;
  }
  .informacion__figure--img-250{
    display: block;
  }
}