<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Requerimiento Taima Empresas</title>
    <!--  bower:css -->
    <!--  endbower  -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../styles/css/main.min.css">
    <!-- endinject -->
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script type="text/javascript" src="scripts/vendors/selectivizr-min.js"></script>
      <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->
</head>
<body>
  <!--[if lt  IE  8]>
    <p  class="browsehappy">
        Estás usando  un  navegador <strong>desactualizado</strong>.
        Por favor <a  href="http://browsehappy.com/">actualiza  tu  navegador</a>
        Para  mejorar la  experiencia..
    </p>
  <![endif]-->
  <header class="header" id="taima">
    <button class="header__button is-active icon-menu" id="showMenu"></button>
    <button class="header__button icon-menu" id="hideMenu"></button>
    <nav class="menu" id="menu">
      <figure class="menu__figure"><a href="/taima"><img class="menu__figure--imagen" src="../images/img40x40.png" alt=""></a>
      </figure>
      <ul class="menu__lista">
        <li class="menu__lista--item">
          <a href="/taima" class="menu__lista--link menu__lista--link-inicia">Inicia Sesión</a>
        </li>
        <li class="menu__lista--item">
          <a href="/taima" class="menu__lista--link menu__lista--link-empresa">¿Eres Empresa?</a>
        </li>
        <!-- <li class="menu__lista--item menu__lista--item-productos">
          <a href="/taima" class="menu__lista--link menu__lista--link-servicios">Spanish</a>
        </li> -->
        <li class="menu__lista--item menu__lista--item-productos">
          <a href="ingles.html" class="menu__lista--link menu__lista--link-servicios">English</a>
        </li>
        <li class="menu__lista--item menu__lista--item-productos">
          <a href="/taima/#clientes" class="menu__lista--link menu__lista--link-clientes">Clients</a>
        </li>
        <li class="menu__lista--item menu__lista--item-productos">
          <a href="/taima/#productos" class="menu__lista--link menu__lista--link-productos">Products</a>
        </li>
        <li class="menu__lista--item menu__lista--item-productos">
          <a href="/taima/#servicios" class="menu__lista--link menu__lista--link-servicios">Services</a>
        </li>
      </ul>
      <!-- <figure class="menu__figure--flag">
        <a href="/taima">
          <img class="menu__figure--imagen" src="../images/esp_flag.png" alt="">
        </a>
      </figure> -->
      <figure class="menu__figure--flag">
        <a href="ingles.html">
          <img class="menu__figure--imagen" src="../images/eng_flag.png" alt="">
        </a>
      </figure>
    </nav>
  </header>

  <section class="informacion" id="informacion">
    <h1 class="informacion__titulo u-titulo">Clientes</h1>
    <div class="informacion__contenedor">
      <figure class="informacion__figure">
        <img class="informacion__figure--img" src="../images/img400x400.png" alt="">
        <img class="informacion__figure--img informacion__figure--img-300" src="../images/img300x300.png" alt="">
        <img class="informacion__figure--img informacion__figure--img-250" src="../images/img250x250.png" alt="">
      </figure>
      <main class="informacion__resumen">
        <p class="informacion__resumen--texto">
          No saber qué opinan, <strong>¡es un riesgo!...</strong>
        </p>
        <p class="informacion__resumen--texto">
          <span class="texto_resaltado">Y</span> para mejorar... <strong>¡requieres saberlo!</strong>
        </p>
        <p class="informacion__resumen--texto">
          <strong>Es vital</strong> , saber qué desean obtener de tus servicios...
        </p>
        <p class="informacion__resumen--texto">
          ¿Quieres ser aceptado <span class="texto_resaltado">por tus clientes?...</span> <strong><span class="texto_resaltado">¡Escúchalos!</span></strong>
        </p>
        <p class="informacion__resumen--texto">
          <strong>TAIMA</strong> ...te apoya en saberlo
        </p>
        <input class="informacion__boton" type="button" value="CONTÁCTANOS">
      </main>
    </div>
  </section>

  <section class="informacion informacion__ofrecemos u-containerDefault">
    <div id="ofrecemos"></div>
    <h1 class="informacion__titulo u-titulo"><strong>TAIMA</strong> ¿Qué ofrecemos?</h1>
      <div class="informacion__contenedor">
        <main class="informacion__resumen">
          <p class="informacion__resumen--texto">
            <strong>Red de Opinión</strong> móvil y web
          </p>
          <p class="informacion__resumen--texto">
            Fácil alcance de <strong>Opinadores</strong>
          </p>
          <p class="informacion__resumen--texto">
            <strong>Economía</strong> en tus estudios...
          </p>
          <p class="informacion__resumen--texto">
            Entrega rápida de <strong>Resultados...</strong>
          </p>
          <p class="informacion__resumen--texto">
            Servicios de asesoría y análisis...
          </p>
          <input class="informacion__boton" type="button" value="CONTÁCTANOS">
        </main>
        <figure class="informacion__figure">
          <img class="informacion__figure--img" src="../images/img400x400.png" alt="">
          <img class="informacion__figure--img informacion__figure--img-300" src="../images/img300x300.png" alt="">
          <img class="informacion__figure--img informacion__figure--img-250" src="../images/img250x250.png" alt="">
        </figure>
      </div>
  </section>

  <section class="productos productos__clientes u-containerDefault">
    <div id="clientes"></div>
    <h1 class="productos__titulo u-titulo">Planes fexibles que se adaptan a tu actividad y mercado</h1>
    <div class="productos__contenedor">
      <a href="clientes.html">
        <article class="productos__item activo">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Corporativos</h2>
          <p class="productos__item--informacion">
            Estudios Nacionales</p>
          <p class="productos__item--informacion">Segmentación País</p>
          <p class="productos__item--informacion">Instituciones del Estado</p>
          <p class="productos__item--informacion"><strong>Opinadores TAIMA</strong></p>
        </article>
      </a>
      <a href="clientes.html">
        <article class="productos__item">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Empresariales</h2>
          <p class="productos__item--informacion">
            Estudios en la empresa</p>
          <p class="productos__item--informacion">Segmentación propia</p>
          <p class="productos__item--informacion">Instituciones del Estado</p>
          <p class="productos__item--informacion"><strong>Opinadores Propios</strong></p>
        </article>
      </a>
      <a href="clientes.html">
        <article class="productos__item">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Aliados</h2>
          <p class="productos__item--informacion">
            Estudios en Sitio</p>
          <p class="productos__item--informacion">Segmentación aleatoria</p>
          <p class="productos__item--informacion">Instituciones del Estado</p>
          <p class="productos__item--informacion"><strong>Opinadores en Sitio</strong></p>
        </article>
      </a>
    </div>
  </section>

  <section class="productos productos__productos u-containerDefault">
    <div id="productos"></div>
    <h1 class="productos__titulo u-titulo">Nuestros Productos</h1>
    <div class="productos__contenedor">
      <article class="productos__item activo">
        <a href="productos.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Sondeo Básico</h2>
          <p class="productos__item--informacion">
            Resultados de un Sondeo</p>
          <p class="productos__item--informacion">Estudios de Mercado de Corta Duración</p>
          <p class="productos__item--informacion">Plantillas de Sondeos</p>
        </a>
      </article>
      <article class="productos__item">
        <a href="productos.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Seriados</h2>
          <p class="productos__item--informacion">
            Resultados Cruzados de Varios Sondeos</p>
          <p class="productos__item--informacion">Mínimo 2, Máximo 12</p>
          <p class="productos__item--informacion">Estudios de Mercado de Larga Duración</p>
        </a>
      </article>
      <article class="productos__item">
        <a href="productos.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Por Respuesta</h2>
          <p class="productos__item--informacion">
            Estudios en Sitio</p>
          <p class="productos__item--informacion">Propuesta abierta</p>
          <p class="productos__item--informacion">Estudios rápidos</p>
          <p class="productos__item--informacion">Tamaño Indeterminado</p>
        </a>
      </article>
    </div>
  </section>

  <section class="productos productos__servicios u-containerDefault">
    <div id="servicios"></div>
    <h1 class="productos__titulo u-titulo">Los sondeos inteligentes de TAIMA pueden apoyarte con...</h1>
    <div class="productos__contenedor">
      <article class="productos__item activo">
        <a href="servicios.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Asesorías</h2>
          <p class="productos__item--informacion">
            Básica y experta</p>
          <p class="productos__item--informacion">Orientación del Estudio</p>
          <p class="productos__item--informacion">Segmentación Avanzada</p>
          <p class="productos__item--informacion">Creación de Sondeos</p>
        </a>
      </article>
      <article class="productos__item">
        <a href="servicios.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Datos</h2>
          <p class="productos__item--informacion">
            Análisis de Datos</p>
          <p class="productos__item--informacion">Elaboración de Informes</p>
          <p class="productos__item--informacion">Entrega de Datos</p>
          <p class="productos__item--informacion">Análisis Estadísticos</p>
        </a>
      </article>
      <article class="productos__item">
        <a href="servicios.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Seguimiento</h2>
          <p class="productos__item--informacion">
            Acompañamineto INICIO - FIN</p>
          <p class="productos__item--informacion">Revisión aleatoria de avances del Sondeo</p>
          <p class="productos__item--informacion">Informes</p>
        </a>
      </article>
    </div>
  </section>

  <footer class="footer">
      <section class="footer__contacto footer__contenedor">

        <div class="footer__contenedor--form footer__contenedor--form-contactanos">
          <h2 class="footer__contacto--titulo">Contáctanos:</h2>
          <form class="footer__contacto--form" action="">
            <input class="footer__contacto--nombre" type="text" placeholder="Nombre">
            <input class="footer__contacto--telefono" type="tel" placeholder="Teléfono">
            <input class="footer__contacto--email" type="email" placeholder="Email">
            <textarea class="footer__contacto--mensaje" placeholder="Mensaje"></textarea>
            <input class="footer__contacto--boton" type="submit" name="name" value="Enviar">
          </form>
        </div>

        <!-- <div class="footer__contenedor--form footer__contenedor--form-acerca">
          <h2 class="footer__contacto--titulo">Acerca de Taima:</h2>
            <p><a href="/">Quienes somos</a></p>
            <p><a href="/">Junta Directiva</a></p>
            <p><a href="/">Socios</a></p>
            <p><a href="/">Ubicación de la Oficina</a></p>
            <p><a href="/">Trabajo</a></p>
            <p><a href="/">Ayuda</a></p>
        </div> -->

        <div class="footer__contenedor--form footer__contenedor--form-enlaces">
          <h2 class="footer__contacto--titulo">Productos y Servicios:</h2>
            <p><a href="/taima/#informacion">TAIMA</a></p>
            <p><a href="/taima/#ofrecemos">¿Qué Ofrecemos?</a></p>
            <p><a href="/taima/#clientes">Nuestros Clientes</a></p>
            <p><a href="/taima/#productos">Nuestros Productos</a></p>
            <p><a href="/taima/#servicios">Nuestros Servicios</a></p>
            <p><a href="/taima/#productos">Planes & Precios</a></p>
        </div>
        <div class="footer__contenedor--form footer__contenedor--form-direccion">
          <!-- <div class="footer__contacto--contenedor">
            <h2 class="footer__contacto--titulo">Dirección:</h2>
            <address>
              Av Sucre. Centro Parque Boyacá. <br>
              Torre Centro. Piso 8. Oficina 84. <br>
              Los Dos Caminos. Caracas, Venezuela. <br>
              +58 (0212) 4357273 <br>
            </address>
          </div> -->
          <div class="footer__contenedor--redes">
            <h2 class="footer__contacto--titulo">Síguenos:</h2>
            <div class="footer__contacto--redes">
              <a href="http://twitter.com" target="_blank" class="footer__contacto--icon"><i class="icon-twitter"></i></a>
              <a href="http://facebook.com" target="_blank" class="footer__contacto--icon"><i class="icon-facebook"></i></a>
              <a href="http://google.com" target="_blank" class="footer__contacto--icon"><i class="icon-google"></i></a>
              <a href="http://linkedin.com" target="_blank" class="footer__contacto--icon"><i class="icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </section>
      <section class="footer__contacto--legal">
        <nav class="footer__contacto--nav">
          <ul class="footer__contacto--lista">
            <li class="footer__contacto--item"><a class="footer__contacto--link privacidad" href="legal.html">Políticas de Privacidad</a></li>
            <li class="footer__contacto--item"><a class="footer__contacto--link legales" href="legal.html">Términos Legales</a></li>
            <li class="footer__contacto--item"><a class="footer__contacto--link uso" href="legal.html">Términos de Uso</a></li>
            <li class="footer__contacto--item"><a class="footer__contacto--link span" href="legal.html">Políticas sobre Spam</a></li>
          </ul>
        </nav>
      </section>
  </footer>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-64526674-2','auto');ga('send','pageview');
  </script>
  <!--  bower:js  -->
  <!--  endbower  -->
  <!-- inject:js -->
  <script src="../scripts/vendors/hammer.min.js"></script>
  <script src="../scripts/vendors/jquery-1.11.3.min.js"></script>
  <script src="../scripts/vendors/modernizr-2.8.3.min.js"></script>
  <script src="../scripts/vendors/retina.min.js"></script>
  <script src="../scripts/vendors/selectivizr-min.js"></script>
  <script src="../scripts/js/main.min.js"></script>
  <!-- endinject -->
</body>
</html>
