<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Requerimiento Taima Empresas</title>
    <!--  bower:css -->
    <!--  endbower  -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../styles/css/main.min.css">
    <!-- endinject -->
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script type="text/javascript" src="scripts/vendors/selectivizr-min.js"></script>
      <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->
</head>
<body>
  <!--[if lt  IE  8]>
    <p  class="browsehappy">
        Estás usando  un  navegador <strong>desactualizado</strong>.
        Por favor <a  href="http://browsehappy.com/">actualiza  tu  navegador</a>
        Para  mejorar la  experiencia..
    </p>
  <![endif]-->
  <header class="header" id="taima">
    <button class="header__button is-active icon-menu" id="showMenu"></button>
    <button class="header__button icon-menu" id="hideMenu"></button>
    <nav class="menu" id="menu">
      <figure class="menu__figure"><a href="#"><img class="menu__figure--imagen" src="../images/img40x40.png" alt=""></a>
      </figure>
      <ul class="menu__lista">
        <li class="menu__lista--item">
          <a href="#" class="menu__lista--link menu__lista--link-inicia">Log In</a>
        </li>
        <li class="menu__lista--item">
          <a href="#" class="menu__lista--link menu__lista--link-empresa">Business</a>
        </li>
        <li class="menu__lista--item menu__lista--item-productos">
          <a href="/taima" class="menu__lista--link menu__lista--link-servicios">Spanish</a>
        </li>
        <!-- <li class="menu__lista--item menu__lista--item-productos">
          <a href="views/ingles.html" class="menu__lista--link menu__lista--link-servicios">English</a>
        </li> -->
        <li class="menu__lista--item menu__lista--item-productos">
          <a href="#clientes" class="menu__lista--link menu__lista--link-clientes">Clients</a>
        </li>
        <li class="menu__lista--item menu__lista--item-productos">
          <a href="#productos" class="menu__lista--link menu__lista--link-productos">Products</a>
        </li>
        <li class="menu__lista--item menu__lista--item-productos">
          <a href="#servicios" class="menu__lista--link menu__lista--link-servicios">Services</a>
        </li>
      </ul>
      <figure class="menu__figure--flag">
        <a href="/taima">
          <img class="menu__figure--imagen" src="../images/esp_flag.png" alt="">
        </a>
      </figure>
      <!-- <figure class="menu__figure--flag">
        <a href="views/ingles.html">
          <img class="menu__figure--imagen" src="images/eng_flag.png" alt="">
        </a>
      </figure> -->
    </nav>
  </header>

  <section class="informacion" id="informacion">
    <h1 class="informacion__titulo u-titulo">Do you know what your customers think? About your products and services ...</h1>
    <div class="informacion__contenedor">
      <figure class="informacion__figure">
        <img class="informacion__figure--img" src="../images/img400x400.png" alt="">
        <img class="informacion__figure--img informacion__figure--img-300" src="../images/img300x300.png" alt="">
        <img class="informacion__figure--img informacion__figure--img-250" src="../images/img250x250.png" alt="">
      </figure>
      <main class="informacion__resumen">
        <p class="informacion__resumen--texto">
          Not knowing what to say, <strong>it is a risk!...</strong>
        </p>
        <p class="informacion__resumen--texto">
          <span class="texto_resaltado"> And </span>to improve... <strong>you require to know!</strong>
        </p>
        <p class="informacion__resumen--texto">
          <strong>It is vital </strong> , to know why they want your services...
        </p>
        <p class="informacion__resumen--texto">
          You want to be accepted <span class="texto_resaltado"> by your customers?...</span> <strong><span class="texto_resaltado">Listen to them!</span></strong>
        </p>
        <p class="informacion__resumen--texto">
          <strong>TAIMA</strong> ...supports you to know
        </p>
        <input class="informacion__boton" type="button" value="CONTACT US">
      </main>
    </div>
  </section>

  <section class="informacion informacion__ofrecemos u-containerDefault">
    <div id="ofrecemos"></div>
    <h1 class="informacion__titulo u-titulo"><strong>TAIMA</strong> What we offer?</h1>
      <div class="informacion__contenedor">
        <main class="informacion__resumen">
          <p class="informacion__resumen--texto">
            <strong>Network Review</strong> mobile and web
          </p>
          <p class="informacion__resumen--texto">
            Easy reach of <strong>Pundits</strong>
          </p>
          <p class="informacion__resumen--texto">
            <strong>Economics</strong> at your studies...
          </p>
          <p class="informacion__resumen--texto">
            Fast delivery of <strong>Results...</strong>
          </p>
          <p class="informacion__resumen--texto">
            Analysis and consultancy services...
          </p>
          <input class="informacion__boton" type="button" value="CONTACT US">
        </main>
        <figure class="informacion__figure">
          <img class="informacion__figure--img" src="../images/img400x400.png" alt="">
          <img class="informacion__figure--img informacion__figure--img-300" src="../images/img300x300.png" alt="">
          <img class="informacion__figure--img informacion__figure--img-250" src="../images/img250x250.png" alt="">
        </figure>
      </div>
  </section>

  <section class="productos productos__clientes u-containerDefault">
    <div id="clientes"></div>
    <h1 class="productos__titulo u-titulo">Fexible plans to suit your activity and market</h1>
    <div class="productos__contenedor">
      <a href="clientes.html">
        <article class="productos__item activo">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Corporate</h2>
          <p class="productos__item--informacion">
            National Studies</p>
          <p class="productos__item--informacion">Segmentation Country</p>
          <p class="productos__item--informacion">State Institutions</p>
          <p class="productos__item--informacion"><strong>Pundits TAIMA</strong></p>
        </article>
      </a>
      <a href="clientes.html">
        <article class="productos__item">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Business</h2>
          <p class="productos__item--informacion">
            Studies in the company</p>
          <p class="productos__item--informacion">Segmentation Own</p>
          <p class="productos__item--informacion">State Institutions</p>
          <p class="productos__item--informacion"><strong>Pundits Own</strong></p>
        </article>
      </a>
      <a href="clientes.html">
        <article class="productos__item">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Allies</h2>
          <p class="productos__item--informacion">
            Site Studies</p>
          <p class="productos__item--informacion">Random Segmentation</p>
          <p class="productos__item--informacion">State Institutions</p>
          <p class="productos__item--informacion"><strong>Pundits in Site</strong></p>
        </article>
      </a>
    </div>
  </section>

  <section class="productos productos__productos u-containerDefault">
    <div id="productos"></div>
    <h1 class="productos__titulo u-titulo">Our Products</h1>
    <div class="productos__contenedor">
      <article class="productos__item activo">
        <a href="productos.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Basic Survey</h2>
          <p class="productos__item--informacion">
            Results of a Survey</p>
          <p class="productos__item--informacion">Market Research Short Term</p>
          <p class="productos__item--informacion">Polls Templates</p>
        </a>
      </article>
      <article class="productos__item">
        <a href="productos.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Serials Polls</h2>
          <p class="productos__item--informacion">
            Crusaders Results of Several Polls</p>
          <p class="productos__item--informacion">Minimum 2, Maximum 12</p>
          <p class="productos__item--informacion">Market Research Long Term</p>
        </a>
      </article>
      <article class="productos__item">
        <a href="productos.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Polls Response</h2>
          <p class="productos__item--informacion">
            Site Studies</p>
          <p class="productos__item--informacion">Open Proposal</p>
          <p class="productos__item--informacion">Quick Studies</p>
          <p class="productos__item--informacion">Undetermined Size</p>
        </a>
      </article>
    </div>
  </section>

  <section class="productos productos__servicios u-containerDefault">
    <div id="servicios"></div>
    <h1 class="productos__titulo u-titulo">Smart TAIMA polls can support you with...</h1>
    <div class="productos__contenedor">
      <article class="productos__item activo">
        <a href="servicios.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Advisories</h2>
          <p class="productos__item--informacion">
            Basic and expert</p>
          <p class="productos__item--informacion">Study Orientation</p>
          <p class="productos__item--informacion">Advanced Segmentation</p>
          <p class="productos__item--informacion">Creating Surveys</p>
        </a>
      </article>
      <article class="productos__item">
        <a href="servicios.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Data</h2>
          <p class="productos__item--informacion">
            Analysis of Data</p>
          <p class="productos__item--informacion">Preparation of Reports</p>
          <p class="productos__item--informacion">Data Delivery</p>
          <p class="productos__item--informacion">Statistical Analysis</p>
        </a>
      </article>
      <article class="productos__item">
        <a href="servicios.html">
          <figure class="productos__item--figure">
            <img class="productos__item--img" src="../images/img150x150.png" alt="">
          </figure>
          <h2 class="productos__item--titulo u-titulo">Follow up</h2>
          <p class="productos__item--informacion">
            Accompaniment START - END</p>
          <p class="productos__item--informacion">Random review of progress Polling</p>
          <p class="productos__item--informacion">Reports</p>
        </a>
      </article>
    </div>
  </section>

  <footer class="footer">
      <section class="footer__contacto footer__contenedor">

        <div class="footer__contenedor--form footer__contenedor--form-contactanos">
          <h2 class="footer__contacto--titulo">Contact Us:</h2>
          <form class="footer__contacto--form" action="">
            <input class="footer__contacto--nombre" type="text" placeholder="Name">
            <input class="footer__contacto--telefono" type="tel" placeholder="Phone">
            <input class="footer__contacto--email" type="email" placeholder="Email">
            <textarea class="footer__contacto--mensaje" placeholder="Message"></textarea>
            <input class="footer__contacto--boton" type="submit" name="name" value="Send">
          </form>
        </div>

        <!-- <div class="footer__contenedor--form footer__contenedor--form-acerca">
          <h2 class="footer__contacto--titulo">Acerca de Taima:</h2>
            <p><a href="/">Quienes somos</a></p>
            <p><a href="/">Junta Directiva</a></p>
            <p><a href="/">Socios</a></p>
            <p><a href="/">Ubicación de la Oficina</a></p>
            <p><a href="/">Trabajo</a></p>
            <p><a href="/">Ayuda</a></p>
        </div> -->

        <div class="footer__contenedor--form footer__contenedor--form-enlaces">
          <h2 class="footer__contacto--titulo">Products & Services:</h2>
            <p><a href="#informacion">TAIMA</a></p>
            <p><a href="#ofrecemos">What we offer?</a></p>
            <p><a href="#clientes">Our Clients</a></p>
            <p><a href="#productos">Our products</a></p>
            <p><a href="#servicios">Our Services</a></p>
            <p><a href="#productos">Plans & Prices</a></p>
        </div>
        <div class="footer__contenedor--form footer__contenedor--form-direccion">
          <!-- <div class="footer__contacto--contenedor">
            <h2 class="footer__contacto--titulo">Dirección:</h2>
            <address>
              Av Sucre. Centro Parque Boyacá. <br>
              Torre Centro. Piso 8. Oficina 84. <br>
              Los Dos Caminos. Caracas, Venezuela. <br>
              +58 (0212) 4357273 <br>
            </address>
          </div> -->
          <div class="footer__contenedor--redes">
            <h2 class="footer__contacto--titulo">Follow us:</h2>
            <div class="footer__contacto--redes">
              <a href="http://twitter.com" target="_blank" class="footer__contacto--icon"><i class="icon-twitter"></i></a>
              <a href="http://facebook.com" target="_blank" class="footer__contacto--icon"><i class="icon-facebook"></i></a>
              <a href="http://google.com" target="_blank" class="footer__contacto--icon"><i class="icon-google"></i></a>
              <a href="http://linkedin.com" target="_blank" class="footer__contacto--icon"><i class="icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </section>
      <section class="footer__contacto--legal">
        <nav class="footer__contacto--nav">
          <ul class="footer__contacto--lista">
            <li class="footer__contacto--item"><a class="footer__contacto--link privacidad" href="legal.html">Privacy Policies</a></li>
            <li class="footer__contacto--item"><a class="footer__contacto--link legales" href="legal.html">Legal Terms</a></li>
            <li class="footer__contacto--item"><a class="footer__contacto--link uso" href="legal.html">Terms of Use</a></li>
            <li class="footer__contacto--item"><a class="footer__contacto--link span" href="legal.html">Spam Policies</a></li>
          </ul>
        </nav>
      </section>
  </footer>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-64526674-2','auto');ga('send','pageview');
  </script>
  <!--  bower:js  -->
  <!--  endbower  -->
  <!-- inject:js -->
  <script src="../scripts/vendors/hammer.min.js"></script>
  <script src="../scripts/vendors/jquery-1.11.3.min.js"></script>
  <script src="../scripts/vendors/modernizr-2.8.3.min.js"></script>
  <script src="../scripts/vendors/retina.min.js"></script>
  <script src="../scripts/vendors/selectivizr-min.js"></script>
  <script src="../scripts/js/main.min.js"></script>
  <!-- endinject -->
</body>
</html>
