@import url(../lib/normalize.css);
body,
figure,
img {
  margin: 0;
  padding: 0;
}

.menu {
  background: #1e1e1e;
  text-align: center;
  height: 4em;
  left: 0;
  right: 0;
  width: 100vw;
  top: 0;
  z-index: 3;
}
.menu__figure {
  display: inline-block;
  position: absolute;
  left: 4em;
  top: .75em;
}
.menu__lista {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4em;
  display: inline-block;
}
.menu__lista--item {
  display: inline-block;
}
.menu__lista--link {
  color: white;
  text-decoration: none;
  line-height: 4em;
  display: inline-block;
  margin-left: 1em;
}
.menu__lista--link:hover {
  background: grey;
}
