@import url(../lib/normalize.css);
@import url(../fonts/fonts.css);
body,
figure,
footer,
section,
h2,
span,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.u-containerDefault {
  width: 100%;
  min-height: 527px;
}

.u-titulo {
  padding: 1em 0;
  text-align: center;
}

.menu {
  background: #1e1e1e;
  position: fixed;
  text-align: center;
  height: 4em;
  left: 0;
  right: 0;
  width: 100vw;
  top: 0;
  z-index: 3;
}
.menu__figure {
  display: inline-block;
  position: absolute;
  left: 4em;
  top: .75em;
}
.menu__lista {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4em;
  display: inline-block;
}
.menu__lista .empresa {
  background: grey;
}
.menu__lista--item {
  display: inline-block;
}
.menu__lista--link {
  color: white;
  line-height: 4em;
  display: inline-block;
  padding: 0 2em;
}
.menu__lista--link:hover {
  background: #aeaeae;
  color: #1e1e1e;
}

.informacion {
  width: 100%;
  background: #AEAEAE;
  margin-top: 4em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.informacion__contenedor {
  max-width: 800px;
  min-height: 570px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.informacion__resumen {
  width: 45%;
  text-align: justify;
}
.informacion__boton {
  width: 60%;
  height: 3em;
  margin: 0 20%;
  font-weight: bold;
  font-size: 1.2em;
}
.informacion__boton:hover {
  background: #1e1e1e;
  color: #aeaeae;
}

.servicios {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.servicios__contenedor {
  max-width: 1000px;
  min-height: 500px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.servicios__item {
  background: grey;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 0;
  margin: .15em 1em;
}
.servicios__item--figure {
  padding-top: 1.5em;
}
.servicios__item--figure:hover {
  background: #1e1e1e;
  color: #aeaeae;
}
.servicios__item--titulo {
  margin: 0;
  padding: 0;
}

.productos {
  background: #AEAEAE;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.productos__contenedor {
  max-width: 1000px;
  min-height: 500px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.productos__item {
  background: grey;
  width: 300px;
  height: 100%;
  text-align: center;
  padding: 2em .25em 1em .25em;
  margin: .15em 0;
}
.productos__item--titulo {
  font-size: 2.5em;
}
.productos__item:hover {
  background: #1e1e1e;
  color: #aeaeae;
}

.footer {
  width: 100%;
  padding-bottom: 0;
  font-size: .85em;
  background: #1e1e1e;
  color: #aeaeae;
}
.footer a {
  color: #aeaeae;
}
.footer__contenedor {
  max-width: 1100px;
  min-height: 230px;
  margin: 0 auto;
  padding-top: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.footer__contenedor--form {
  height: 230px;
  width: 225px;
  padding-left: 2em;
}
.footer__contenedor--redes {
  margin: 0;
  padding: 0;
}
.footer__figure {
  margin: 1em 1em 0 0;
  font-size: 2em;
}
.footer__contacto--titulo {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 1em;
}
.footer__contacto--form, .footer__contacto--nombre, .footer__contacto--telefono, .footer__contacto--email, .footer__contacto--mensaje {
  display: block;
  width: 14em;
  height: 1.5em;
  line-height: 1.5em;
  margin-top: .5em;
}
.footer__contacto--mensaje {
  resize: none;
}
.footer__contacto--boton {
  display: block;
  width: 50%;
  height: 2em;
  line-height: 2em;
  margin: .5em 25%;
  font-weight: bold;
  font-size: 1.2em;
}
.footer__contacto--boton:hover {
  background: #1e1e1e;
  color: #aeaeae;
}
.footer__contacto--nav {
  text-align: center;
}
.footer__contacto--nav ul {
  margin: 0;
  padding: 0;
}
.footer__contacto--item {
  display: inline-block;
  text-decoration: none;
}
.footer__contacto--legal {
  height: 1.5em;
}
.footer__contacto--link {
  display: inline-block;
  line-height: 1.5em;
  margin: 0;
  padding: 0 0.5em;
}
.footer__contacto--link:hover {
  background: #aeaeae;
  color: #1e1e1e;
}
.footer__contacto--redes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.footer__contacto--icon {
  color: #aeaeae;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin: 1em .6em 0 0;
}
.footer__contacto--icon:hover {
  color: grey;
}
